        .menu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }

    .menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    position:sticky;
    overflow: hidden;
    white-space: nowrap;
    }

    .menu a:hover {
    color: #f1f1f1;
    cursor: pointer;
    }

    .menu p {
    padding: 2px 2px 2px 32px;
    margin:auto;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor:default;
    position:sticky;
    overflow: hidden;
    white-space: nowrap;
    }
    
    .menu input{
    margin:30px;
    transition: 0.3s;
    white-space:nowrap;
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
    .menu input:hover{
        opacity: 1;
    }
    .menu input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #818181;
    cursor: pointer;
    }
    .menu input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #818181;
    cursor: pointer;
    }